.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  margin-bottom: 3vw;
}
.form-column {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
input, select {
  padding: 0.8vw;
  border: none;
  border-radius: 0.3vw;
  font-size: 0.8vw;
  background-color: rgb(3, 21, 37);
  color: rgb(211, 227, 253);
}
input:focus, select:focus {
  box-shadow: 0 0 4px rgba(76, 175, 80, 0.3);
  outline: none;
}
select {
  height: 2.5vw;
  background-color: rgb(3, 21, 37);
}
select option {
  background-color: rgb(3, 21, 37);
  color: rgb(211, 227, 253);
}
input[type="date"] {
  color: rgb(211, 227, 253);
}
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.heading-container {
  text-align: center;
}
.add-guest-heading {
  font-size: 1.2vw;
  margin-top: 0.5vw;
  padding: 0.5vw 0.5vw;
  border-radius: 0.5vw;
  border: 1px solid #3f51b5;
  color: #3f51b5;
}
.checkbox-container {
  font-size: 0.8vw;
  color: rgb(211, 227, 253);
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}
.chk{
  align-items: center;
  width: 1.2vw;
}
.checkbox-label {
  font-size: 0.8vw;
  color: rgb(211, 227, 253);
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.button-container {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  display: flex;
  gap: 0.5vw;
}
.button-container button {
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  font-size: 0.8vw;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-container button[type="submit"] {
  background-color: #3f51b5;
  color: rgb(211, 227, 253);
}
.button-container button[type="submit"]:hover {
  background-color: rgb(3, 21, 37);
  transform: scale(1.05);
}
.button-container button[type="button"] {
  background-color: #f44336;
  color: rgb(211, 227, 253);
}
.button-container button[type="button"]:hover {
  background-color: rgb(3, 21, 37);
  transform: scale(1.05);
}