.status-card {
    border: 1px solid rgba(187, 128, 9, 0.4);
    margin-left: 0.5vw;
    margin-bottom: 0;
    background-color: rgba(187, 128, 9, 0.15);
    padding: 0.1vw;
    border-radius: 0.4vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-bottom: 0.5vw;
    color: #d3e3fd;
    width: 10.9vw;
    font-family: Arial, sans-serif;
  }
  
  .status-card-header {
    font-size: 0.7vw;
    margin-top: -0.6vw;
    text-align: center;
    color: #d3e3fd;
  }
  
  .status-card-body {
    font-size: 0.6vw;
    margin-top: -0.5vw;
    display: flex;
    flex-direction: column;
  }
  
  .status-card-content {
    display: flex;
    flex-direction: column;
  }
  
  .status-card-heading {
    margin-top: 0.1vw;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .status-card-values {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25vw;
  }
  .done1{
    font-weight: bold;
    color: rgb(22, 255, 0);
  }
  .partial1{
    color: orange;
    font-weight: bold;
  }
  .not-paid1{
    color: #E72929;
    font-weight: bold;
  }
  .status-image2 {
    margin-top: -0.1vw;
    height: 0.7vw;
    width: 0.7vw; /* Adjust size as needed */
    margin-right: 0.3vw; /* Space between image and text */
  }
  .status-item{
    display: flex;
    justify-content: center;
  }
  .status-text-done{
    color: rgb(22, 255, 0);
  }
  .status-text-partial{
    color: orange;
  }
  .status-text-not-paid{
    color: #E72929;
  }