
.dialog-paper {
    width: 500px; /* Adjust width as needed */
    max-width: 100%;
    background-color: #f5f5f5; /* Light grey background */
}

.dialog-title {
    background-color: #0d2136; /* Dark blue background */
    color: #ffffff; /* White text color */
}

.dialog-actions {
    padding: 10px 20px; /* Add padding inside the dialog actions */
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
}

.button-save {
    background-color: #007bff; /* Primary button color */
    color: #ffffff; /* White text color */
}

.button-cancel {
    color: #007bff; /* Outline button color */
}

.button-save:hover {
    background-color: #0056b3; /* Darker shade for hover */
}

.button-cancel:hover {
    background-color: #e0e0e0; /* Light grey for hover */
}


/* Add top margin for the first input field */
.textfield-spacing:first-of-type {
    margin-top: 20px; /* Top margin for the first input field */
}

/* Add additional space between fields */
.textfield-spacing:not(:first-of-type) {
    margin-top: 20px; /* More space between fields after the first one */
}

.MuiTextField-root .MuiInputBase-input {
    color: black; /* Text color inside text fields */
}