.dialog-title{
    color: white;
    border-bottom: 1px solid #2c3e50;
}
.dialog-content1 {
    position: relative;
    z-index: 2;
    background-color: #0d1117;
    border-radius: 8px;
    overflow: hidden;
    width: 65vw;
    height: 62vh;
    max-width: 70%;
    max-height: 90vh;
    margin: auto; /* Center dialog */
  }
@media (max-width: 600px) {
    .dialog-title {
      font-size: 16px;
    }
  
    .dialog-content1 {
        width: 90vw; /* Increase width for mobile */
        height: 75vh; /* Increase height for mobile */
        max-width: 90%;
        max-height: 100%;
      }
  }
  