.pg-selection-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(211, 227, 253);
    font-size: 1.5vw;
    margin-top: 0;
    padding-bottom: 0.4vw;
    padding-top: 0.4vw;
    background-color: #3f51b5;
    box-shadow: 0vw 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 300;
    font-style: normal;
  }
  .pg-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 1vw;
  }
  .pg-card {
    background-color: #0d2136;
    border-radius: 0.4vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(25% - 1rem);
    box-sizing: border-box;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    color: rgb(211, 227, 253);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pg-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #162c46;
  }
  .pg-header {
    height: 4vw;
    border-top-left-radius: 0.4vw;
    border-top-right-radius: 0.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6vw;
    padding: 0 0.3vw;
    color: rgb(211, 227, 253);
    background-color: #3f51b5;
  }
  .pg-name {
    font-size: 1vw;
    font-weight: bold;
  }
  .pg-number {
    font-size: 1vw;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(211, 227, 253);
    border-radius: 0.5vw;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
  }
  .pg-details {
    margin-left: 0.6vw;
    margin-right: 0.6vw;
    margin-bottom: -0.6vw;
    flex: 1;
  }
  .owner-name{
    font-size: 0.8vw;
    margin-top: -0.3vw;
    font-weight: bold;
    color: rgb(211, 227, 253);
  }
  .pg-address{
    margin-top: -0.6vw;
    font-size: 0.7vw;
    color: rgb(211, 227, 253);
    opacity: 0.6;
  }
  .max-customers{
    font-size: 0.8vw;
    margin-top: 0vw;
    color: #3f51b5;
    font-weight: bold;
  }
  .pg-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.6vw;
    color: rgb(211, 227, 253);
  }
  .pg-mobile,
  .pg-email {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.3vw 0.6vw;
    border-radius: 0.7vw;
  }
  
  
  
  