.table {
    margin: 1vw 0;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 0vw;
  }
  .custom-data-table {
    background-color: #0d2136; /* Adjust as needed */
  }
  
  .table thead tr {
    background-color: #3f51b5; /* Adjust as needed */
    color: white;
    font-weight: bold;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #0d2136; /* Adjust as needed */
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #162c46; /* Adjust as needed */
  }
  
  .table tbody tr {
    color: white;
  }
  
  .table tbody tr:hover {
    background-color: #1e3a56; /* Adjust as needed */
  }
  
  .table td,
  .table th {
    padding: 0.5vw;
    text-align: left;
  }
  
  .pagination {
    background-color: #3f51b5; /* Adjust as needed */
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.5vw 0;
  }
  .search-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5vw;
  
  }  
  .search-input1 {
    font-size: 0.8vw;
    background-color: #162c46;
    color: white;
    padding: 0.6vw;
    border: 0;
    border-radius: 0.3vw;
    width: 20vw;
    margin-bottom: 0.5vw;
    margin-top: 1vw;
  }
  .ieBTyR {
   height: 2.75vw;
  }
.cEDwUG {
 font-size: 0.8vw;
}
.cLoWNr {
  height: 0.5vw;
  font-size: 0.8vw;
  padding-right: 0.4vw;
  padding-left: 1.1vw;
  width: 50%;
}
.cLoWNr option {
 font-size: 0.8vw;
}
.YIXGw {
 font-size: 0.8vw;
}
.select {
  font-size: 0.8vw;

}
.select option {
  font-size: 0.8vw;
} 
.esggSK {
 height: 2vw;
 width: 2vw;
}
.gnZnxE {
 min-height: 2vw;
}
.lmPtIb {
  height: 2vw;
}