/* changePasswordDialog.css */

/* Overlay styles */
.change-password-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(138, 134, 134, 0.7); /* Semi-transparent background */
  z-index: 999; /* Ensure it sits above other content */
  transition: opacity 0.3s ease-in-out;
}

/* Ensure the loading spinner is properly layered on top of the overlay */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7); /* Slightly transparent background */
  z-index: 1000; /* Ensure it sits above the overlay */
}

.dialog-title {
  background-color: #0d2136; /* Dark blue background */
  color: #ffffff; /* White text color */
}

