.dashboard-page {
  position: relative;
  height: 100vh;
}

.dashboard-nav-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(211, 227, 253);
  font-size: 1.8em;
  margin-top: 0;
  padding: 5px 0;
  background-color: #3f51b5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.pg-number {
  margin-left: 5px;
  margin-right: 20px; /* Spacing between PG number and heading text */
}

.heading-text {
  flex: 1; /* Allows heading text to take up remaining space */
  text-align: center; /* Center the heading text */
}

.logout-btn {
  position: absolute;
  top: 2px;
  right: 10px;
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-paying-guest-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 4px;
  max-width: 500px;
  margin: auto;
}

.modal h2 {
  margin-top: 0;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form input,
.modal form select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal form button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

.modal form button[type="button"] {
  background-color: #f44336;
  color: white;
}
.change-password-link {
  position: absolute;
  right: 0;
  color: #007bff; /* Link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Optional: make the text bold */
  cursor: pointer; /* Change cursor to pointer */
  display: inline-block; /* Align with other inline elements */
  padding: 8px 10px; /* Padding for better spacing */
  border: none;
  background-color: transparent;
}

.change-password-link:hover {
  text-decoration: underline; /* Underline on hover */
  border-color: #007bff; /* Border color on hover */
}
