.dashboard-page {
  padding-top: 2.5vw;
}
.dashboard-nav-heading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(211, 227, 253);
  font-size: 1.5vw;
  margin-top: 0;
  padding-bottom: 0.4vw;
  padding-top: 0.4vw;
  background-color: #3f51b5;
  box-shadow: 0vw 0.1vw 0.25vw rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-style: normal;
}
.pg-number-dashboard{
  margin-left: 0.5vw;
  font-size: 1vw;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(211, 227, 253);
  border-radius: 0.5vw;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}
.heading-text {
  flex: 1;
  text-align: center;
}
.add-pg-details-link{
  font-size: 0.8vw;
  position: absolute;
  left: 0;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: 0.4vw 0.6vw;
  border: none;
  background-color: transparent;
}
.add-pg-details-link:hover {
  text-decoration: underline;
  border-color: #007bff;
}
.change-password-link {
  font-size: 0.8vw;
  position: absolute;
  right: 0;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: 0.4vw 0.6vw;
  border: none;
  background-color: transparent;
}
.change-password-link:hover {
  text-decoration: underline;
  border-color: #007bff;
}
.add-paying-guest-container {
  margin-right: 0.5vw;
  margin-bottom: 1vw;
  margin-top: 1.5vw;
  text-align: right;
}
.add-paying-guest-btn {
  padding: 0.5vw 1vw;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 0.2vw;
  font-size: 0.8vw;
  cursor: pointer;
}
.modal {
  background: white;
  padding: 1vw;
  border-radius: 0.2vw;
  max-width: 25vw;
  margin: auto;
}
.modal h2 {
  margin-top: 0;
}
.modal form {
  display: flex;
  flex-direction: column;
}
.modal form input,
.modal form select {
  margin-bottom: 0.5vw;
  padding: 0.5vw;
  border: 1px solid #ccc;
  border-radius: 0.2vw;
}
.modal form button {
  padding: 0.5vw;
  margin-top: 0.5vw;
  border: none;
  border-radius: 0.2vw;
  cursor: pointer;
}
.modal form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}
.modal form button[type="button"] {
  background-color: #f44336;
  color: white;
}
.matrix{
  width: 8vw;
  margin-top: 5vw;
  margin-left: 70vw;
  padding: 0.6vw;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 0.2vw;
  font-size: 0.8vw;
  cursor: pointer;
}
.room-matrix-dialog {
  position: relative;
  padding: 1vw;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
}
.room-matrix-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
