.login-nav-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(211, 227, 253);
    font-size: 1.8em;
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3f51b5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .login-card {
    border-radius: 15px;
    background-color: #0d2136;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    margin-left: 36%;
    margin-right: 36%;
    /* border: 1px solid #3f51b5; */
    box-sizing: border-box;
  }
  .card-heading {
    margin-bottom: 80px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    position: relative;
    color: #fff;
    background: linear-gradient(45deg, #ff007f, #ff7f00, #7fff00, #00ff7f);
    background-size: 400% 400%;
    animation: slideGradient 6s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  @keyframes slideGradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .login-labels {
    color: rgb(211, 227, 253);
  }
  .login-inputboxes {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    height: 30px;
    padding: 10px;
    width: 400px;
    background: rgb(3, 21, 37);
    border-width: 0px;
    border-color: #092635;
    color: rgb(211, 227, 253);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .login-button {
    margin-top: 25px;
    margin-bottom: 60px;
    font-size: 15px;
    display: flex;
    width: 420px; /* Set the width to match the input boxes */
    justify-content: center;
    padding: 15px;
    border-width: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: rgb(211, 227, 253);
    background-color: #3f51b5;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  .login-validation-message {
    color: red;
    margin-bottom: 10px;
    font-size: 13px;
  }
/* Styles for the loading overlay */
.loading-overlay-visible::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the loading spinner */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

  