.admin-nav-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(211, 227, 253);
    font-size: 1.8em;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3f51b5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .inputbox5 {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 15px;
    height: 30px;
    padding: 10px;
    border-radius: 6px;
    width: 400px;
    background-color: #162c46;
    border-width: 0px;
    color: rgb(211, 227, 253);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .add-pg {
    width: 140px;
    font-size: 15px;
    padding: 15px;
    border-width: 0px;
    border-radius: 6px;
    color: rgb(211, 227, 253);
    background-color: #3f51b5;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  .heading{
    margin-top: 0px;
    color: rgb(211, 227, 253);
    margin-left: 10px;
    margin-bottom: 0px;
  }